<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/urls">TinyApp</a>

    <div class="container-fluid" > </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <p class="navbar-brand" style="margin: auto 1em">Welcome User</p>
      <form class="form-inline" action="/edit_profile" method="GET">
        <button type="submit" class="btn btn-outline-light" style="margin-right: 1em; display: inline-block; text-align: center;">Edit Profile</button>
      </form>
      <form class="form-inline" action="/logout" method="POST" style="padding-top: 0px">
        <button type="submit" class="btn btn-outline-light" style="margin-left: 1em">Logout</button>
      </form>
    </div>
  </nav>
</header>

