<header class="nav-bar">
  <nav>
    <div>
      <p id="welcome" href="/"><strong>Welcome User</strong></p>
    </div>
    <!-- <%if (user_id) {%> -->
      <div>
        <!-- <%if (user_id && index) {%> -->
          <!-- <a href=<%=`/edit_profile`%>>Edit Profile</a> -->
          <a href="/edit_profile">Edit Profile</a>

            <a href="/logout">Logout</a>

      </div>
      <!-- <%}%>
        <%if (!user_id) {%> -->
          <!-- <div>
            <a href="/register">Register</a>
            <a href="/login/1">Login</a>
          </div> -->
          <!-- <%}%> -->
  </nav>
</header>
