<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>




<body>

<main class='main-login'>

    <!-- Display Panel -->
    <div id='panel'>


      <!-- Registration Form -->

      <form id='register-form' action='/register' method='POST'>
        <h2>Register</h2>
        <div class="form-group input-group">
          <div class="input-group-prepend">
          </div>
          <input type="text" name="name1" class="form-control" placeholder="Name" value="<%- locals.regName %>"
            required />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
          </div>
          <input type="text" name="name2" class="form-control" placeholder="Name" value="<%- locals.regName %>"
            required />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">          </div>
          <input type="email" name="email" class="form-control" placeholder="Email" value="<%- locals.regEmail %>"
            required />
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
          </div>
          <input type="password" name="password" class="form-control" placeholder="Password"
            value="<%- locals.regPwd %>" required />
        </div>

        <div class="form-group flex-container-right">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>

      </form>

    </div>

  </div>


</main>



</body>
</html>
