.container h2 {
  font-weight: bold;
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: underline;
}

.card-header h4 {
  font-weight: bold;
}

.actionBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0.3rem;
}

input[type="checkbox"]:checked + .itemBtn {
  color: grey;
  text-decoration-line: line-through;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.checkbox Input {
  margin-top: 0.8rem;
}
