html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

.app-title {
  text-align: center;
  margin: 4rem auto 3rem;
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;
}

.box-form {
  width: 450px;
  margin: auto;
  border: 2px solid #545149;
  padding: 2rem 3rem;
}
.box-form:hover {
  border: 2px solid rgb(207, 180, 180);
}
.form-group {
  width: 300px;
}

.box-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-part,
.profileEdit-part {
  margin: 1.5rem;
}

.login-part button,
.profileEdit-part button {
  width: 300px;
  height: 35px;
}
.profileEdit-part button {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}
.login-part button {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.register-part {
  margin: 1rem 5rem;
}
.register-part p {
  display: inline-block;
}
.register-part button {
  padding-top: 3px;
}

.error-message {
  margin-bottom: 3rem;
  color: red;
}
