html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}

.app-title {
  text-align: center;
  margin: 6rem auto 3rem;
  font-size: 36px;
  font-family: "Roboto Condensed", sans-serif;
}

.box-form {
  width: 450px;
  margin: auto;
  border: 2px solid #545149;
  padding: 2rem 3rem;
}
.box-form:hover {
  border: 2px solid rgb(207, 180, 180);
}
.form-group {
  width: 300px;
}

.box-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-part,
.profileEdit-part {
  margin: 1.5rem;
}

.login-part button,
.profileEdit-part button {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  width: 300px;
  height: 35px;
}

.register-part {
  margin: 1rem 5rem;
}
.register-part p {
  display: inline-block;
}
.register-part button {
  padding-top: 3px;
}
