.bg-success {
  background-color: #28a745 !important;
}

.navbar-expand-md {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
  color: #fff;
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

element {
  margin-left: 1em;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
      margin-left: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

.nav-bar nav {
  z-index: 1;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");

  #welcome {
    font-style: italic;
    font-style: bold;
    @media (min-width: 450px) {
      font-size: 1.8em;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $main-light;
  height: 120px;
  padding: 10px;

  a {
    border-radius: 7px;
    text-decoration: none;
    background-color: $main-bold;
    color: rgb(255, 255, 255);
    padding: 20px;
    @media (max-width: 450px) {
      padding-left: 3px;
      padding-right: 3px;
    }
    @media (min-width: 451px) and (max-width: 649px) {
      padding-left: 7px;
      padding-right: 7px;
    }
    @media (min-width: 650px) {
      font-size: 1.8em;
    }
  }
}

